<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
			 <resource id="Yogesh_Banner::yogesh" title="Dotcom Setting" translate="title" sortOrder="100">
                    <resource id="Yogesh_Banner::banner" title="Dotcom Banner Setting" translate="title" sortOrder="3" />
			</resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
