<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
<preference for="Magento\Checkout\CustomerData\DefaultItem" type="Yogesh\Banner\CustomerData\DefaultItem" />
<!--preference for="Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer" type="Yogesh\Banner\Block\Order\Item\Renderer\DefaultRenderer" /-->
	
	<type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="default_config_provider" type="Yogesh\Banner\Model\DefaultConfigProvider"/>
    </type>
	<virtualType name="BannerGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Yogesh\Banner\Model\ResourceModel\Banner\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">BannerGirdFilterPool</argument>
        </arguments>
    </virtualType>
	<virtualType name="BannerGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    
    
	 <virtualType name="Yogesh\Banner\Model\ResourceModel\Banner\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">banner</argument>
            
            <argument name="resourceModel" xsi:type="string">Yogesh\Banner\Model\ResourceModel\Banner</argument>
        </arguments>
    </virtualType>
	
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="banner_banner_listing_data_source" xsi:type="string">Yogesh\Banner\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
	
</config>