<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="faq" frontName="faq">
            <module name="Yogesh_Faq" />
        </route>
		<route id="blinds" frontName="blinds">
            <module name="Yogesh_Faq" />
        </route>
		<route id="tracks" frontName="tracks">
            <module name="Yogesh_Faq" />
        </route>
		<route id="shippment" frontName="shippment">
            <module name="Yogesh_Faq" />
        </route>
    </router>
</config>