<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dotcom_category_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>dotcom_settings</tab>
            <!--group id="appnova_labels" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Stamps on products</label>
                <field id="appnova_label_1" translate="label" type="Magento\Config\Block\System\Config\Form\Field\Image" sortOrder="6" showInDefault="1" showInWebsite="1" >
                    <label>Label #1</label>
                    <backend_model>Yogesh\Labels\Model\Config\Backend\PngOnly</backend_model>
                    <upload_dir config="system" scope_info="1">catalog/product</upload_dir>
                    <base_url type="media" scope_info="1">catalog/product</base_url>
                    <comment>PNG files only</comment>
                </field>
            </group-->
        </section>
    </system>
</config>